<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">

    <br/>
    <br/>
    <footer class="bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">WOODY SHOP</h5>
                    <p>
                        Адрес: г. Москва, м. Автозаводская,
                        ул. Мастеркова, д.8
                        Тел.: 8 (495) 777-77-75 / 8 (495) 777-55-55
                        (c 9 до 20 ежедневно)
                    </p>
                </div>
            </div>
        </div>

        <div class="text-center p-3" style="background-color: #ffdab9;">
            © 2021 Вуди-шоп. Все права защищены.
         </div>
    </footer>

</th:block>

</html>