<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head.html :: head">
    <nav th:replace="fragments/head.html :: logo"/>
    <nav th:replace="fragments/head.html :: navbar-main"/>
</head>

<body>
<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead class="table-blue">
                <tr>
                    <th scope="col">Номер</th>
                    <th scope="col">Дата заказа</th>
                    <th scope="col">Дата доставки</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Сумма(руб.)</th>
                    <th scope="col">Детали</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.displayCreateDate}"></td>
                    <td th:text="${order.displayDeliveryDate}"></td>
                    <td th:text="${order.getStatus().displayName}"></td>
                    <td th:text="${order.displayPrice}"></td>
                    <td>
                        <a class="btn btn-success" th:href="@{/order/{id}(id = ${order.id})}"><i class="far fa-list-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script th:replace="fragments/footer.html :: scripts"/>

</body>
</html>
