<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head.html::head"/>

<body>
<nav th:replace="fragments/navbar.html :: logo"/>

<div class="container">
    <div class="row justify-content-center" style="margin-top: 10px">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2"><span th:text="'Изменение пароля'"></span></h4>
                </header>
                <div class="card-body">
                    <form th:action="@{/profile/password/update}" th:method="post" th:object="${password}">
                        <input th:field="*{userId}" type="hidden" class="form-control">

                        <!-- Password -->
                        <small class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                        <div style="margin-bottom: 25px" class="input-group">
                            <input type="password" th:field="*{password}" placeholder="пароль (*)" class="form-control"/>
                        </div>

                        <!-- Confirm Password -->
                        <small class="error" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"></small>
                        <div style="margin-bottom: 25px" class="input-group">
                            <input type="password" th:field="*{matchingPassword}" placeholder="подтверждение пароля (*)" class="form-control"/>
                        </div>


                        <!--Buttons-->
                        <div style="margin-top: 10px" class="form-group">
                            <div class="col-sm-6 controls">
                                <button type="submit" name="addProduct" class="btn btn-primary">Сохранить</button>
                                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-secondary" data-bs-toggle="collapse" th:href="@{/user/{id}(id = *{userId})}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Отмена
                                </a>
                                <a sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_CLIENT')" class="btn btn-secondary" data-bs-toggle="collapse" th:href="@{/profile/{id}(id = *{userId})}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Отмена
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

